.Main {
    height: 100%;
    display: flex;
    margin: 2vh;

    .Table {
        height: 96%;
        width: 75%;

        .Img {
            background-color: var(--c9);
            border: 1vh solid var(--c9);
            height: 100%;
            overflow: scroll;
            width: 100%;
            position: relative;
        }
    }
    .About {
        height: 96%;
        width: 25%;
        .SizeMode {
            width: 90%;
            height: 8%;
            background-color: var(--c2);
            color: var(--c3);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            margin: 0.5vh;
        }
        .SizeMode2 {
            width: 95%;
            height: 11%;
            background-color: var(--c4);
        }
        .SizeMode:hover{
            cursor: pointer;
        }
    }
}