.Main {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 0.5vh solid transparent;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px rgba(211, 217, 224, 0.788);
}
.Main:hover {
    box-shadow: 0px 0px 60px 60px rgba(10, 119, 37, 0.4);
    background-color: rgba(10, 119, 37, 0.4);
    cursor: pointer;
}