.Main {
    font: 1.2rem "Fira Sans", sans-serif;
    font-weight: 600;
    width: 100%;

    .Switcher {
        width: 100%;
        height: 8vh;
        padding: 1vh 1vh;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        background-color: var(--c1);
    }

    .Switcher::-webkit-scrollbar {
        display: none;
    }

    .Window {
        padding: 1vh 1vh;
        width: 100%;
        height: 92vh;
        overflow: hidden;
        background-color: var(--c8);
    }

    .Window::-webkit-scrollbar {
        display: none;
    }

    --color1: rgb(163, 44, 44);
    --color2: rgb(218, 191, 40);
    --color3: rgb(231, 56, 56);
    --color4: rgb(177, 113, 30);
    --color5: rgb(255, 233, 108);
    --c1: #101D0E;
    --c2: #2F4118;
    --c3: #FDEB47;
    --c4: #527427;
    --c5: #1CA42A;
    --c6: #72AC27;
    --c7: #1D7D26;
    --c8: #5739AC;
    --c9: #86C1AC;
    --c10: #BDD0ED;
    --c11: #693E3E;
}