.Main {
    width: 100%;
    .Switcher {
        width: 100%;
        height: 8vh;
        padding: 1vh 1vh;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        background-color: brown;
    }
    .Switcher::-webkit-scrollbar {
        display: none;
    }
}